doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(href="assets/img/favicon.ico", rel="shortcut icon")
		link(type="text/css", href="css/libs.min.css", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic" rel="stylesheet")
		link(href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css", rel="stylesheet")
		link(type="text/css", href="css/main.css", rel="stylesheet")
		title CASCADE LAMPS
	body
		#contentWrapper.content-wrapper
			#pageWrapper.page-wrapper
				include _header
				block content

		script(src="js/libs.min.js")
		script(src="js/common.js")